<mat-toolbar color="primary">
  <img src="../assets/dineXa_logo.png" width="50"/>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="example-container drawer_container">
  <div class="category_list">
    <mat-list>
      <mat-list-item>
        <mat-icon matListItemIcon>dining</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListItemIcon>sports_bar</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListItemIcon>fastfood</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListItemIcon>icecream</mat-icon>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="main_content">
    <div class="menu_content">
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card><mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          The Shiba Inu.
        </mat-card-content>
        <mat-card-actions>
          <span class="price_tag">Rs. 193.1</span>
          <button mat-stroked-button color="primary" class="cart_button">Add</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
   <div class="cart_drawer_content">
      <div class="cart_header">
        <h4>Your Cart : Rs. 277.21</h4>
      </div>
      <div class="cart_table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
          <!-- Position Column -->
          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef> Item </th>
            <td mat-cell *matCellDef="let element"> {{element.item}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element">
               <div class="qty_container">
                 <mat-icon color="warn">remove</mat-icon>
               {{element.quantity}} 
                <mat-icon color="primary">add</mat-icon>
               </div>
              </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> <mat-icon class="close_icon">close_small</mat-icon> </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="cart_footer">
        <button mat-raised-button color="primary">
          Place Order
        </button>
      </div>
  </div>
</div>
